@CHARSET "UTF-8";

#mainMenu, #mainMenu ul {
	list-style: none;
}

#mainMenu {
	width: 100%
	float: left;
}

#greeting
{
	position: absolute;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	color: #FFFFFF;
	font-size: 14px;
	padding: 0 4.50em;
}

#mainMenu>li {
	float: left;
}

#mainMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}

#mainMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}

#mainMenu ul li a {
	width: 120px;
}

#mainMenu li:hover ul {
	display: block;
}

/* Main Menu */
#mainMenu {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 14px;
	background: #9C225D;
}

#mainMenu>li>a {
	color: #fff;
	font-weight: bold;
}

#mainMenu>li:hover>a {
	background: #DB3082;
	color: #000;
}

/* Sub Menu */
#mainMenu ul {
	background: #FF087F;
}

#mainMenu ul li a {
	color: #FFF;
	width: 200px
}

#mainMenu ul li:hover a {
	/*background: #F7EFA5;*/
	background: #FF3898;
}

#mainMenu li:hover ul.noJS {
	display: block;
}

/* Side Menu */
#sideMenu, #sideMenu ul {
	list-style: none;
}

#sideMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
}

#sideMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}

#sideMenu ul li a {
	width: 120px;
}

#sideMenu li:hover ul {
	display: block;
}

/* Top Part */
#sideMenu {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 14px;
	background: #9C225D;
}

#sideMenu>li>a {
	color: #fff;
	font-weight: bold;
}

#sideMenu>li:hover>a {
	background: #DB3082;
	color: #000;
}

/* Sub Menu */
#sideMenu ul {
	background: #FF087F;
}

#sideMenu ul li a {
	color: #FFF;
}

#sideMenu ul li:hover a {
	/*background: #F7EFA5;*/
	background: #FF3898;
}

#sideMenu li:hover ul.noJS {
	display: block;
}